.search-result {
	width: 80%;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.booklist {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-around; */
}

.booklist__item {
	flex: 1;
	min-width: 300px;
	display: grid;
	grid-template-areas: 
		"img title"
		"img author"
		"img category";
	grid-template-columns: 128px auto;
	column-gap: 15px;
	justify-content: stretch;
	margin: 20px;
	padding: 20px;
	border: 1px solid #eee;
	border-radius: 5px;
}

.booklist__item > img {
	grid-area: img;
}

.booklist__item > a {
	grid-area: title;
}

.booklist__item > span:first-child {
	grid-area: author;
}

.booklist__item > span:last-child {
	grid-area: category;
}

@media all and (max-width: 500px) {
	.search-result {
		width: 99%;
	}

	.booklist__item {
		width: 100%;
		margin: 0;
		padding-left: 5px;
		padding-right: 5px;
	}
}